/* 13. cart page css here */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shopping_cart_area {
        margin-top: 80px;
    }
}
@media only screen and (max-width: 767px) {
    .shopping_cart_area {
        margin-top: 60px;
    }
}

.header_cart_page {
    border-bottom: 1px solid #e1e1e1;
}

.other_bread {
    padding-top: 41px;
    padding-bottom: 41px;
}

.table_desc {
    border: 1px solid #e1e1e1;
    margin-bottom: 100px;
    margin-top: 2px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .table_desc {
        margin-bottom: 80px;
    }
}
@media only screen and (max-width: 767px) {
    .table_desc {
        margin-bottom: 60px;
    }
}
.table_desc .cart_page table {
    width: 100%;
}
.table_desc .cart_page table thead tr th {
    border-bottom: 3px solid #79a206;
    border-right: 1px solid #e1e1e1;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px;
    text-align: center;
}
.table_desc .cart_page table tbody tr td {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    text-align: center;
    padding: 10px;
}
.table_desc .cart_page table tbody tr td.product_remove {
    min-width: 100px;
}
.table_desc .cart_page table tbody tr td.product_remove a {
    font-size: 20px;
    color: #222222;
}
.table_desc .cart_page table tbody tr td.product_remove a:hover {
    color: #79a206;
}
.table_desc .cart_page table tbody tr td.product_image {
    max-width: 180px;
}
.table_desc .cart_page table tbody tr td.product_image a img {
    width: 100px;
}
.table_desc .cart_page table tbody tr td.product_name {
    min-width: 180px;
}
.table_desc .cart_page table tbody tr td.product_name a {
    color: #222222;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
}
.table_desc .cart_page table tbody tr td.product_name a:hover {
    color: #79a206;
}
.table_desc .cart_page table tbody tr td.product-price {
    min-width: 130px;
    color: #222222;
    font-size: 16px;
    font-weight: 500;
}
.table_desc .cart_page table tbody tr td.product_origin {
    min-width: 180px;
}
.table_desc .cart_page table tbody tr td.product_origin label {
    font-weight: 500;
    margin-right: 5px;
}
.table_desc .cart_page table tbody tr td.product_origin input {
    width: 60px;
    height: 40px;
    padding: 0 5px 0 10px;
    background: none;
    border: 1px solid #e1e1e1;
}
.table_desc .cart_page table tbody tr td .product_total {
    min-width: 120px;
}

.cart_page table thead tr:last-child th, .table_desc table tbody tr td:last-child {
    border-right: 0;
}

.cart_submit {
    text-align: right;
    padding: 12px;
}
@media only screen and (max-width: 767px) {
    .cart_submit {
        text-align: center;
    }
}
.cart_submit button {
    background: #222222;
    border: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    height: 38px;
    line-height: 18px;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 3px;
}
.cart_submit button:hover {
    background: #79a206;
}
.cart_submit button a:hover{
    color: #fcf8e3;
    text-decoration: none;
}
a{
    color: #fcf8e3;
    text-decoration: none;
}

.cart_subtotal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.cart_subtotal p {
    font-weight: 600;
    font-size: 14px;
}
.cart_subtotal p.cart_amount {
    font-size: 18px;
    font-weight: 500;
}
@media only screen and (max-width: 767px) {
    .cart_subtotal p.cart_amount {
        font-size: 14px;
    }
}
.cart_subtotal p span {
    margin-right: 30px;
}

